:root {
	--color-primary: #0c1f38;
	--color-secondary: #ffa60a;
  }

html {
	font-size: 16px;
	overflow-x: hidden;
	width: 100vw;
}

body {
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Scope One", sans-serif;
	color: rgba(0, 0, 0, 0.84);
	position: relative;
}

h1,
h2,
h3 {
	margin: 0;
	color: var(--color-primary);
}

p {
	font-size: 1rem;
	line-height: 1.4rem;
	color: rgba(0, 0, 0, 0.67);
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: #fff;
}

.header__topbar {
	width: calc(100% - 7rem);
	padding: 0 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.75rem 0;
}

.title {
	font-size: 1.5rem;
	margin: 0;
	padding: 0.25rem 0;
}

.subtitle {
	font-size: 1.125rem;
	margin: 0;
	padding: 0;	
}

.header__contact-container {
	display: none;
}

.header__contact-option {
	display: flex;
	margin: 0 1rem
}

.header__contact-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.nav__background-overlay {
	display: none;
}

nav {
	width: 100%;
	height: 4rem;
	background: var(--color-primary);
	padding: 0 3.5rem;
}

.nav__item {
	color: #FFF;
	font-weight: 300;
	line-height: 1.25rem;
	padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.nav__item--active {
	color:  var(--color-secondary);
	font-weight: 400;
	border-bottom: solid 2px  var(--color-secondary);
}

.flex__container {
  display: flex;
  flex-wrap: wrap;
}

footer {
	width: 100%;
	height: 6rem;
	background: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}


.footer__text {
	font-size: 1rem;
	color: #979797;
	text-align: center;
}

.centered-container {
	margin: auto;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.carousel {
	width: 100%;
}

.carousel__container {
	visibility: hidden;
	width: 100%;
	height: 0;
}

.carousel__container--active {
	height: auto;
	opacity: 1;
	visibility: visible;
}

.carousel__img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}

.section {
	width: 100%;
	margin: 0 1.5rem;
  	padding: 2rem 0 0 0;
}

.section__subheader {
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.section__services {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
}

.service {
	margin: 0 2rem 1rem 2rem;
}

.service__titlecontainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 0.125rem;
	margin: 0.5rem 0;
}

.service__icon {
	width: 1.25rem;
	height: 1.25rem;
	padding: 0 0.5rem 0 0;
	color: var(--color-secondary);
}

.service-title {
	font-size: 1rem;
	margin: 0;
}

.service-text {
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 0.67);
	margin: 0 0 0.25rem 0;
}

.homepage-other-container {
	width: 100%;
	border-top: solid;
	border-width: 1px;
	border-color: rgba(225, 225, 225, 1);
	background: #fcfcfc;
	display: flex;
	flex-wrap: wrap;
}

.section__who-we-are {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.section__header--large {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 300;
	margin: 1rem 0;
}

.divider__line {
	height: 1px;
	width: 100px;
	border-bottom: solid 2px  var(--color-secondary);;
	margin: 1rem 0;
}

.recent-work-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.small-section-header {
	margin: 0.75rem 0 0.25rem 0;
}

.gallery-container {
	width: 100%;
}
.thumbnail {
	display: block;
	float: left;
	width: calc(20% - 18px);
	border: solid;
	border-width: 1px;
	border-color: rgba(225, 225, 225, 1);
	padding: 0.5rem;
	margin: 0;
}

.full-gallery-link {
	margin: 1rem 0;
}

.why-us__container {
	padding-top: 2rem;
}


.section__about-container {
	display: flex;
	flex-wrap: wrap;
}

.team-member__container,
.section__about-carousel,
.section__about-text {
	width: 100%;
	padding: 0 0.5rem 1rem 0.5rem;
}

.section__about-text {
	display: flex;
	flex-direction: column;
}

.text__container {
	width: 100%;
	margin-bottom: 0.75rem;
}

.meet-the-team__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.team-member__container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	max-width: 450px;
	margin: 0 auto 1.5rem;
}

.team-member__img {
	width: 100%;
}

.team-member__name {
	margin: 0;
	padding: 1rem 0 0.25rem 0;
}

.team-member__title {
	margin: 0;
}

.divider__line--small {
	height: 2px;
	width: 50px;
	border-bottom: solid 2px var(--color-secondary);
	margin: 0;
}

.page__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.contact__title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact__container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	padding: 1rem 0 3rem 0;
	margin: 0 1.5rem;

}

.contact__option {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
	width: 250px;
}

.contact__icon {
	width: 2rem;
	height: 2rem;
	padding: 1rem;
	fill: var(--color-secondary);
}

.map__container {
	width:100%;
}

.map {
  min-width:300px;
  min-height:400px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 699px) {
	.header__topbar { 
		justify-content: flex-start;
		padding: 0 2rem;
	}
	
	.nav__button {
		display: block;
		width: 2rem;
		height: 2rem;
		margin-right: 1.5rem;
	}

	.nav__icon {
		width: 100%;
	}
	.nav__background-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 99;
		background: rgba(0, 0, 0, 0.6);
	}

	.nav__background-overlay--active {
		display: block;
	}

	nav {
		position: absolute;
		top: 0;	
		left: -250px;
		width: 250px;
		height: 100vh;
		padding: 0;
		background: #fff;
		transition: left 0.25s ease;
		z-index: 100;
		box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.26);
	}
	.nav__container {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		padding: 0;		
	}

	nav.nav--open {
		left: 0px;
	}


	.nav__item {
		padding: 1rem 0;
		text-align: center;
		border-bottom: solid 1px rgba(0, 0, 0, 0.2);
		color: rgba(0, 0, 0, 0.87);
	}

	.nav__item:first-of-type {
		border-top: solid 1px rgba(0, 0, 0, 0.2);
	}
	
	.nav__item--active {
		color:  var(--color-secondary);
		font-weight: 400
	}

	.nav__item:hover {
		background-color: var(--color-primary);
		color: #fff;
	}

	.section__services {
		padding: 2rem 0;
	}
}
@media screen and (min-width: 700px) {
	.nav__button {
		display: none;
	}

	.nav__container {
		display: flex;
		height: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.nav__item:hover {
		color: var(--color-secondary);
	}

	.service {
		width: calc(50% - 2rem);
		margin-right: 0;
	}
  	
	.team-member__container {
		width: calc(50% - 1rem);
	}

}

@media screen and (min-width: 1000px) {
	.header__contact-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	
	.service {
		width: calc(25% - 2rem);
		margin-right: 0;
	}

	.section__about-carousel,
	.section__about-text {
		width: calc(50% - 1rem);
	}

	
	.why-us__container,
	.recent-work-container {
		width: calc(50% - 2rem);
		padding: 2rem 1rem;
	}

	.team-member__container {
		width: calc(25% - 2rem);
	}


}
